<div class="row">
  <main class="col-md-12">
    <br>
    <h2>{{viewData.student.firstName}} {{viewData.student.lastName}} - Student: {{viewData.student.studentNum}}</h2>
    <hr />
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <!-- Other table headers -->
          <th></th> <!-- New column for remove link -->
        </tr>
      </thead>
      <tbody>
        {{#each viewData.students}}
          <tr>
            <td>{{this.studentNum}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <!-- Other table data -->
            <td>
              <form method="POST" action="/students/delete/{{this.studentNum}}">
                <button type="submit" class="btn btn-danger">Remove</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </main>
</div>
